# Utilizamos el modulo rewrite
# Si existe el modulo rewrite, se ejecutará internamente
<IfModule mod_rewrite.c>
    # Activar rewrite
    RewriteEngine on
    ErrorDocument 404 http://localhost/proyectos/2DAW-CLASE-PHP/templates/error/404.twig

    ErrorDocument 403 http://localhost/proyectos/2DAW-CLASE-PHP/templates/error/403.twig

    ErrorDocument 500 http://localhost/proyectos/2DAW-CLASE-PHP/templates/error/500.twig
    
    
    # No voy a poder cargar un directorio (!-d) ni un fichero (!-f) cualquiera
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    # Reglas de reescritura
    # Reescribe a este formato:
    # (.*) quiere decor punto cualquier cosa, por tanto 
    # El primer (.*) implica introducir el contenido de controller ($1) 
    # El segundo (.*) implica introducir el contenido de action ($2)
    RewriteRule ^(.*)/(.*) ?controller=$1&action=$2
</IfModule>