<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/estilo.css">
	</head>
	<body>
		<!--PreLoader-->
		<div class="loader">
			<div class="loader-inner">
				<div class="circle"></div>
			</div>
		</div>
		<!--PreLoader Ends-->

		<!-- header -->
		<div class="top-header-area" style="background-color: #051922;" id="sticker">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 text-center">
						<div
							class="main-menu-wrap">
							<!-- logo -->
							<div class="site-logo">
								<a href="{{ URL }}?controller=index&action=index">
									<img src="assets/img/logo.png" alt="">
								</a>
							</div>
							<!-- logo -->

							<!-- menu start -->
							<nav>
								<div class="btn-group">
									<ul>
										<li class="btn btn-outline-secondary ">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewbox="0 0 16 16">
												<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
											</svg>
											<a href="{{ URL }}?controller=index&action=index">Home</a>
										</li>
										<li class="btn btn-outline-secondary ">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop-window" viewbox="0 0 16 16">
												<path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
											</svg>
											<a href="#">Productos</a>

										</li>
										<li class="sesion">
											<div
												class="header-icons">
												{# <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a> #}

												<a class="btn btn-outline-secondary" href="{{ URL }}?controller=auth&action=login">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
														<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
														<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
													</svg>

												</i>
												Iniciar sesion</a>
										</li>
										<li class="sesion">
											<div
												class="header-icons">
												{# <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a> #}

												<a class="btn btn-outline-secondary" href="{{ URL }}?controller=auth&action=register">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
														<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
														<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
													</svg>

												</i>
												Crear usuario</a>
										</li>
										
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#">
							<i class="fas fa-search"></i>
						</a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html></div></body></html></div></div><!-- end header -->{% block content %}{% endblock %}</body>
