{% extends "layouts/admin.twig" %}

{% block title %} PRODUCTOS | CREATE {% endblock %}

{% block style %}
<style>
	#categoria{
		border: 1px solid #ddd;
		padding: 15px;
		width: 100%;
		border-radius: 3px;
	}
</style>
{% endblock %}

{% block content %} 
    <!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Crear producto
						        </button>
						      </h5>
						    </div>
						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="{{ URL }}?controller=productos&action=save" method="POST" method="POST">
						        		<p><input type="text" id="nombre" name="nombre"  placeholder="nombre"></p>
                                        <p><input type="text" id="descripcion" name="descripcion"  placeholder="descripcion"></p>
						        		<p><input type="number" step="0.01" id="precio" name="precio"  placeholder="precio"></p>
                                        <p><input type="number" id="stock" name="stock"  placeholder="stock"></p>
										<p>
											<select name="categoria" id="categoria">
											{% for u in categorias %}
												<option value="{{ u.id }}">{{ u.nombre }}</option>
											{% endfor %}
											</select>
										</p>
                                        <p><button class="btn btn-secondary" type="submit">Crear</button></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}