{% extends "layouts/admin.twig" %}

{% block title %}Floristeria| Home
{% endblock %}

{% block style %}{% endblock %}

{% block content %}

	<div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="assets/img/ramomorado.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block ">
					<h5>Ramo Amapolas Moradas</h5>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/img/tulipan.png" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block ">
					<h5>Ramo Tulipanes Rosas</h5>
				</div>
			</div>
			<div class="carousel-item">
				<img src="assets/img/aloevera.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block ">
					<h5>Planta Aloe Vera</h5>
				</div>
			</div>
		</div>


	{% endblock %}

	{% block script %}{% endblock %}
