<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block tiitle %}{% endblock %}
			|USUARIOS</title>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/boostsrap.css">
		<script src="node_modules/boostrap/dist/js/booststrap.js"></script>
	</head>
	<body>
		<h1>Hola soy una plantilla</h1>
		{% block content %}{% endblock %}
	</body>
</html>
