{% extends "layouts/private.twig" %}

{% block title %}PEDIDOS{% endblock %}

{% block style %}
    
{% endblock %}

{% block content %}


<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-name">ID</th>
									<th class="product-price">Total</th>
									<th class="product-quantity">Fecha</th>
                                    <th class="product-quantity"></th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->


{% endblock %}

{% block script %}

{% endblock %}