{% extends "layouts/public.twig" %}

{% block title %}Login
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="m-0 mt-5 row justify-content-center">
		<body class="text-center">
			<main class="form-signin text-center w-50 m-5">
				<form action="{{ URL }}?controller=auth&action=doLogin" method="POST">
					<img class="mb-4" src="assets/img/login.svg" width="72" height="57">
					<h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

					<div class="form-floating">
						<input type="email" id="email" name="email" class="form-control" placeholder="nombre@gmail.com">
						<label for="floatingInput">Email address</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="password" name="password" placeholder="Password">
						<label for="floatingPassword">Password</label>
					</div>
					<br>
					<button class="btn btn-primary" type="submit">
						<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
						Iniciar sesion...
					</button>
				</form>
			</main>
		</body>
	</div>
{% endblock %}

{% block script %}{% endblock %}
