{% extends "layouts/public.twig" %}

{% block title %}
	USUARIOS | CREATE
{% endblock %}

{% block content %}
	<!-- check out section -->
	<br>
	<div class="m-0 mt-5 row justify-content-center">
		<body class="text-center">
			<main class="form-signin text-center w-50 m-5">
				  <form action="{{ URL }}?controller=auth&action=doRegister" method="POST" method="POST">
					<img class="mb-4" src="assets/img/login.svg" width="72" height="57">
					<h1 class="h3 mb-3 fw-normal">Registro de usuarios</h1>

					<div class="form-floating">
						<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre">
						<label for="floatingInput">Nombre</label>
					</div>
					<div class="form-floating">
						<input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
						<label for="floatingInput">Apellidos</label>
					</div>
					<div class="form-floating">
						<input type="text" class="form-control" id="email" name="email" placeholder="Email">
						<label for="floatingInput">Email</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="password" name="password" placeholder="Password">
						<label for="floatingPassword">Password</label>
					</div>
					<br>
					<button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesion</button>
				</form>
			</main>
		</body>
	</div>
{% endblock %}
