{% extends "layouts/admin.twig" %}

{% block title %} USUARIOS | CREATE {% endblock %}

{% block content %} 
<div class="m-0 mt-5 row justify-content-center">
		<body class="text-center">
			<main class="form-signin text-center w-50 m-5">
				<form>
					<img class="mb-4" src="assets/img/login.svg" width="72" height="57">
					<h1 class="h3 mb-3 fw-normal">Crear Usuario</h1>

					<div class="form-floating">
						<input type="email" class="form-control" id="email" name="email" placeholder="nombre@gamil.com">
						<label for="floatingInput">Email address</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="password" name="password" placeholder="Password">
						<label for="floatingPassword">Password</label>
					</div>
					<br>
					<button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesion</button>
				</form>
			</main>
		</body>
	</div>
 
						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="{{ URL }}?controller=users&action=save" method="POST" method="POST">
						        		<p><input type="text" id="nombre" name="nombre"  placeholder="nombre"></p>
                                        <p><input type="text" id="apellidos" name="apellidos"  placeholder="apellidos"></p>
						        		<p><input type="email" id="email" name="email"  placeholder="email"></p>
                                        <p><input type="password" id="password" name="password"  placeholder="password"></p>
                                        <p><button class="btn btn-secondary" type="submit">Crear</button></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}